# ML
packaging==23.2
langchain==0.1.16
langchain-community==0.0.38
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
openai==1.109.1
tiktoken

# Parsing
requests
beautifulsoup4
lxml==6.0.2
selenium==4.9.1
webdriver-manager

# Data
numpy==1.26.4
pandas
openpyxl
tabulate

# Others
python-dotenv
tqdm
retry
Pillow
pydantic==2.12.5

# CLI
appdirs
click
streamlit==1.54.0
